.home-container {
	background-color: #45709c;
  height: 100vh;
  background-size: cover;
  color: rgb(154, 145, 145);
  display: flex; /* Correct way to apply Bootstrap styles */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Sign-in Section */
.signin-section {
  max-width: 400px;
  width: 100%;
  background-color: #f8f9fa; /* bg-light */
  padding: 16px; /* p-4 */
  border-radius: 8px; /* rounded */
}
